openapi: 3.2.0
info:
  title: 8x8 Sites API
  version: '1.0'
  description: 'Operations tagged Sites across 2 of this provider''s published API definitions: 8x8-administration-site-api-v1.yaml, 8x8-analytics-work-analytics-customer-data.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.8x8.com/admin-provisioning
  description: Production server
- url: https://api.8x8.com/analytics/work/
tags:
- name: Sites
paths:
  /sites:
    servers:
    - url: https://api.8x8.com/admin-provisioning
      description: Production server
    post:
      operationId: createSite
      summary: Create a new site
      description: Creates a new site. Returns an Operation object that can be polled to track the creation progress.
      tags:
      - Sites
      parameters:
      - name: X-Request-Id
        in: header
        description: Optional request identifier for tracking
        required: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: Site object to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
            example:
              name: Headquarters
              pbxName: pbx01
              locale: en-US
              timezone: America/Los_Angeles
              siteCode: '1345'
              extensionLength: 4
              address:
                id: b1c4944a-17a0-4b00-8d48-36001df07e22
      responses:
        '202':
          description: Site creation operation initiated successfully
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              example:
                operationId: op_123456789
                status: PENDING
                customerId: 0012J00042NkZQIQA3
                resourceType: SITE
                resourceId: 0023OEZiR7qQ_EGb6xYjgg
                operationType: CREATE
                createdTime: '2025-01-01T01:02:03Z'
        '400':
          description: Bad Request - Invalid site data
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                title: Bad Request
                errors:
                - code: BAD_REQUEST
                  message: Invalid site data
        '403':
          description: Forbidden - Access denied to this resource
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                title: Forbidden
                errors:
                - code: FORBIDDEN
                  message: Access denied to this resource
        '408':
          description: Request Timeout - Downstream service timeout
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 408
                title: Request Timeout
                errors:
                - code: REQUEST_TIMEOUT
                  message: Request to downstream service timed out
        '503':
          description: Service Unavailable - Service unavailable due to connectivity or network issues
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 503
                title: Service unavailable
                errors:
                - code: SERVICE_UNAVAILABLE
                  message: Service unavailable
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                title: Too Many Requests
                errors:
                - code: TOO_MANY_REQUESTS
                  message: Rate limit exceeded, please try again later
        '500':
          description: Internal Server Error - Unexpected error occurred
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                title: Internal Server Error
                errors:
                - code: UNKNOWN
                  message: An unexpected error occurred
      security:
      - ApiKeyAuth: []
    get:
      operationId: listSites
      summary: List sites
      description: 'List sites with optional filtering, sorting, and pagination.

        Filter by site name using RSQL expressions with wildcards.

        '
      tags:
      - Sites
      parameters:
      - name: X-Request-Id
        in: header
        description: Optional request identifier for tracking
        required: false
        schema:
          type: string
          format: uuid
      - name: pageSize
        in: query
        description: 'Number of items per page (default: 100)'
        required: false
        schema:
          type: integer
          example: 100
      - name: pageNumber
        in: query
        description: 'Page number (0-indexed, default: 0)'
        required: false
        schema:
          type: integer
          example: 0
      - name: filter
        in: query
        description: 'Filter expression using RSQL syntax. Only filtering by ''name'' field is supported.

          Supports exact match and wildcard patterns.


          Examples:

          - Exact match: name==Headquarters

          - Wildcard at end: name==Office*

          - Wildcard at start: name==*Office

          - Wildcard at both ends: name==*Branch*


          Only the ''=='' operator is supported. Logical operations (AND/OR) are not supported.

          '
        required: false
        schema:
          type: string
          example: name==Office*
      - name: sort
        in: query
        description: Sort expression. Use '+' prefix or no prefix for ascending order, '-' prefix for descending order (e.g., 'name', '+name', or '-name')
        required: false
        schema:
          type: string
          example: name
      responses:
        '200':
          description: Successful response with paginated sites
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitePage'
              example:
                data:
                - id: 0023OEZiR7qQ_EGb6xYjgg
                  name: Headquarters
                  pbxName: pbx01
                  locale: en-US
                  timezone: America/Los_Angeles
                  siteCode: '1345'
                  extensionLength: 4
                  address:
                    id: b1c4944a-17a0-4b00-8d48-36001df07e22
                pagination:
                  pageSize: 100
                  pageNumber: 0
                  hasMore: false
        '400':
          description: Bad Request - Invalid filter or query parameters
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidFilterFormat:
                  summary: Invalid filter format
                  value:
                    status: 400
                    title: Invalid filter format
                    errors:
                    - code: VALIDATION_ERROR
                      message: Invalid filter syntax
                invalidOperator:
                  summary: Invalid operator
                  value:
                    status: 400
                    title: Invalid filter format
                    errors:
                    - code: VALIDATION_ERROR
                      message: 'Invalid operator: !=. Only ''=='' operator is supported'
                unsupportedField:
                  summary: Unsupported field
                  value:
                    status: 400
                    title: Invalid filter format
                    errors:
                    - code: VALIDATION_ERROR
                      message: 'Invalid filter field: id. Only filtering by name is supported'
                logicalOperations:
                  summary: Logical operations not supported
                  value:
                    status: 400
                    title: Invalid filter format
                    errors:
                    - code: VALIDATION_ERROR
                      message: Logical operations (AND/OR) are not supported
                wildcardPosition:
                  summary: Invalid wildcard position
                  value:
                    status: 400
                    title: Invalid filter format
                    errors:
                    - code: VALIDATION_ERROR
                      message: Wildcard (*) can only appear at the beginning or end
        '403':
          description: Forbidden - Access denied to this resource
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                title: Forbidden
                errors:
                - code: FORBIDDEN
                  message: Access denied to this resource
        '408':
          description: Request Timeout - Downstream service timeout
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 408
                title: Request Timeout
                errors:
                - code: REQUEST_TIMEOUT
                  message: Request to downstream service timed out
        '503':
          description: Service Unavailable - Service unavailable due to connectivity or network issues
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 503
                title: Service unavailable
                errors:
                - code: SERVICE_UNAVAILABLE
                  message: Service unavailable
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                title: Too Many Requests
                errors:
                - code: TOO_MANY_REQUESTS
                  message: Rate limit exceeded, please try again later
        '500':
          description: Internal Server Error - Unexpected error occurred
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                title: Error searching sites in Voice-Config
                errors:
                - code: UNKNOWN
                  message: Error searching sites in Voice-Config
      security:
      - ApiKeyAuth: []
  /sites/{siteId}:
    servers:
    - url: https://api.8x8.com/admin-provisioning
      description: Production server
    get:
      operationId: getSite
      summary: Get site by ID
      description: Retrieve a specific site by its ID
      tags:
      - Sites
      parameters:
      - name: X-Request-Id
        in: header
        description: Optional request identifier for tracking
        required: false
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        description: Site identifier
        required: true
        schema:
          type: string
          example: 0023OEZiR7qQ_EGb6xYjgg
      responses:
        '200':
          description: Site retrieved successfully
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
              example:
                id: 0023OEZiR7qQ_EGb6xYjgg
                name: Headquarters
                pbxName: pbx01
                locale: en-US
                timezone: America/Los_Angeles
                siteCode: '1345'
                extensionLength: 4
                address:
                  id: b1c4944a-17a0-4b00-8d48-36001df07e22
                callerIdSettings:
                  mainNumber: '+12266280120'
                  setMainNumberAsCallerId: true
                  shareMainNumberAsCallerId: false
                  displayName: John Doe
        '400':
          description: Bad Request - Invalid request
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                title: Bad Request
                errors:
                - code: BAD_REQUEST
                  message: Invalid site ID format
        '403':
          description: Forbidden - Access denied to this resource
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                title: Forbidden
                errors:
                - code: FORBIDDEN
                  message: Access denied to this resource
        '404':
          description: Not Found - Site does not exist
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 404
                title: Not Found
                errors:
                - code: NOT_FOUND
                  message: Site not found
        '408':
          description: Request Timeout - Downstream service timeout
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 408
                title: Request Timeout
                errors:
                - code: REQUEST_TIMEOUT
                  message: Request to downstream service timed out
        '503':
          description: Service Unavailable - Service unavailable due to connectivity or network issues
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 503
                title: Service unavailable
                errors:
                - code: SERVICE_UNAVAILABLE
                  message: Service unavailable
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                title: Too Many Requests
                errors:
                - code: TOO_MANY_REQUESTS
                  message: Rate limit exceeded, please try again later
        '500':
          description: Internal Server Error - Unexpected error occurred
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                title: Error retrieving site from Voice-Config
                errors:
                - code: UNKNOWN
                  message: Error retrieving site from Voice-Config
      security:
      - ApiKeyAuth: []
    put:
      operationId: updateSite
      summary: Update site
      description: Updates an existing site. Returns an Operation object that can be polled to track the update progress.
      tags:
      - Sites
      parameters:
      - name: X-Request-Id
        in: header
        description: Optional request identifier for tracking
        required: false
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        description: Site identifier
        required: true
        schema:
          type: string
          example: 0023OEZiR7qQ_EGb6xYjgg
      requestBody:
        description: Site object with updated fields
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
            example:
              name: Headquarters Updated
              pbxName: pbx01
              locale: en-US
              timezone: America/Los_Angeles
              siteCode: '1345'
              extensionLength: 4
              address:
                id: b1c4944a-17a0-4b00-8d48-36001df07e22
      responses:
        '202':
          description: Site update operation initiated successfully
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              example:
                operationId: op_123456789
                status: PENDING
                customerId: 0012J00042NkZQIQA3
                resourceType: SITE
                resourceId: 0023OEZiR7qQ_EGb6xYjgg
                operationType: UPDATE
                createdTime: '2025-01-01T01:02:03Z'
        '400':
          description: Bad Request - Invalid site data
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                title: Bad Request
                errors:
                - code: BAD_REQUEST
                  message: Invalid site data
        '403':
          description: Forbidden - Access denied to this resource
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                title: Forbidden
                errors:
                - code: FORBIDDEN
                  message: Access denied to this resource
        '404':
          description: Not Found - Site does not exist
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 404
                title: Not Found
                errors:
                - code: NOT_FOUND
                  message: Site not found
        '408':
          description: Request Timeout - Downstream service timeout
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 408
                title: Request Timeout
                errors:
                - code: REQUEST_TIMEOUT
                  message: Request to downstream service timed out
        '503':
          description: Service Unavailable - Service unavailable due to connectivity or network issues
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 503
                title: Service unavailable
                errors:
                - code: SERVICE_UNAVAILABLE
                  message: Service unavailable
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                title: Too Many Requests
                errors:
                - code: TOO_MANY_REQUESTS
                  message: Rate limit exceeded, please try again later
        '500':
          description: Internal Server Error - Unexpected error occurred
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                title: Internal Server Error
                errors:
                - code: UNKNOWN
                  message: An unexpected error occurred
      security:
      - ApiKeyAuth: []
    delete:
      operationId: deleteSite
      summary: Delete site
      description: Deletes an existing site. Returns an Operation object that can be polled to track the deletion progress.
      tags:
      - Sites
      parameters:
      - name: X-Request-Id
        in: header
        description: Optional request identifier for tracking
        required: false
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        description: Site identifier
        required: true
        schema:
          type: string
          example: 0023OEZiR7qQ_EGb6xYjgg
      responses:
        '202':
          description: Site deletion operation initiated successfully
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              example:
                operationId: op_123456789
                status: PENDING
                customerId: 0012J00042NkZQIQA3
                resourceType: SITE
                resourceId: 0023OEZiR7qQ_EGb6xYjgg
                operationType: DELETE
                createdTime: '2025-01-01T01:02:03Z'
        '400':
          description: Bad Request - Site cannot be removed
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                title: Bad Request
                errors:
                - code: BAD_REQUEST
                  message: Branch with id 0023OEZiR7qQ_EGb6xYjgg can not be removed. It is used by at least one extension
        '403':
          description: Forbidden - Access denied to this resource
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                title: Forbidden
                errors:
                - code: FORBIDDEN
                  message: Access denied to this resource
        '404':
          description: Not Found - Site does not exist
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 404
                title: Not Found
                errors:
                - code: NOT_FOUND
                  message: Site not found
        '408':
          description: Request Timeout - Downstream service timeout
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 408
                title: Request Timeout
                errors:
                - code: REQUEST_TIMEOUT
                  message: Request to downstream service timed out
        '503':
          description: Service Unavailable - Service unavailable due to connectivity or network issues
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 503
                title: Service unavailable
                errors:
                - code: SERVICE_UNAVAILABLE
                  message: Service unavailable
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                title: Too Many Requests
                errors:
                - code: TOO_MANY_REQUESTS
                  message: Rate limit exceeded, please try again later
        '500':
          description: Internal Server Error - Unexpected error occurred
          headers:
            X-Response-Id:
              description: Unique response identifier generated by the service
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                title: Internal Server Error
                errors:
                - code: UNKNOWN
                  message: An unexpected error occurred
      security:
      - ApiKeyAuth: []
  /v2/pbxes/{pbxId}/sites:
    servers:
    - url: https://api.8x8.com/analytics/work/
    get:
      description: Returns a list of sites of a pbx.
      tags:
      - Sites
      summary: Returns the list of sites of a pbx
      operationId: get-pbx-sites
      parameters:
      - name: pbxId
        in: path
        description: The id of the pbx.
        required: true
        schema:
          type: string
          example: 1UQHOVgWTYCCY6OOk48SAQ
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: Returns the list of sites for the specified pbx.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesResponsePage'
              example:
                _embedded:
                  siteList:
                  - id: vcXZjfBOT2yWxhUQHzwqwe
                    pbxId: rXp_ceLVQs6RYjUp1Iqqwa
                    name: SanJose
                    deleted: false
                _links:
                  self:
                    href: https://api.8x8.com/analytics/work/v2/pbxes/vcXZjfBOT2yWxhUQHzwqwe/sites?page=0&size=50
                page:
                  size: 50
                  totalElements: 1
                  totalPages: 1
                  number: 0
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '405':
          $ref: '#/components/responses/methodNotAllowed'
        default:
          $ref: '#/components/responses/internalServerError'
      security:
      - 8x8-apikey: []
        bearerAuth: []
components:
  schemas:
    SiteAddress:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          example: b1c4944a-17a0-4b00-8d48-36001df07e22
    Link_2:
      type: object
      properties:
        href:
          type: string
          example: https://api.8x8.com/analytics/work/v2/pbxes?page=0&size=50
    Pagination:
      type: object
      properties:
        pageSize:
          type:
          - integer
          - 'null'
          description: Number of items per page
          example: 100
        pageNumber:
          type:
          - integer
          - 'null'
          description: Current page number (0-indexed)
          example: 0
        hasMore:
          type:
          - boolean
          - 'null'
          description: Indicates if there are more pages available
          example: false
        filter:
          type:
          - string
          - 'null'
          description: RSQL filter expression used in the request
          example: name==Headquarters
        sort:
          type:
          - string
          - 'null'
          description: Sort expression used in the request
          example: name
        nextScrollId:
          type:
          - string
          - 'null'
          description: Scroll ID for retrieving the next page
    Error:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
          description: Field name related to the error
        code:
          type:
          - string
          - 'null'
          enum:
          - UNKNOWN
          - VALIDATION_ERROR
          - FORBIDDEN
          - CONFLICTING_QUERY_PARAMETER
          - SERVICE_UNAVAILABLE
          - NOT_FOUND
          - BAD_REQUEST
          - REQUEST_TIMEOUT
          - TOO_MANY_REQUESTS
          - CONFLICT
          description: Error code identifying the type of error
          example: VALIDATION_ERROR
        message:
          type:
          - string
          - 'null'
          description: Detailed error message
          example: Site not found
    Link:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
          description: URL for the link
          example: https://api.8x8.com/admin-provisioning/sites?pageSize=100&pageNumber=0
    SitePage:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Site'
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    Site:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          example: 0023OEZiR7qQ_EGb6xYjgg
          readOnly: true
        name:
          type: string
          minLength: 2
          maxLength: 128
          example: SanJose-Onel
        pbxName:
          type: string
        locale:
          type: string
          enum:
          - da-DK
          - de-DE
          - en-AU
          - en-GB
          - en-US
          - es-ES
          - fi-FI
          - fr-BE
          - fr-CA
          - fr-CH
          - fr-FR
          - it-IT
          - ja-JP
          - nl-BE
          - nl-NL
          - no-NO
          - pl-PL
          - pt-BR
          - pt-PT
          - sv-SE
          - zh-CN
          example: en-US
        timezone:
          type: string
          example: Europe/London
        address:
          $ref: '#/components/schemas/SiteAddress'
        siteCode:
          type:
          - string
          - 'null'
          example: '1345'
        extensionLength:
          type:
          - integer
          - 'null'
          example: 4
        emergencyNotifications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmergencyNotification'
        callerIdSettings:
          allOf:
          - $ref: '#/components/schemas/CallerIdSettings'
        defaultDialPlanCallingCountry:
          type:
          - string
          - 'null'
          example: NANP
        defaultDialPlanRuleset:
          type:
          - string
          - 'null'
          enum:
          - INTERNATIONAL
          - DOMESTIC
          - EMERGENCYONLY
          example: INTERNATIONAL
        defaultVoicemailZeroOutDestinationExtensionId:
          type:
          - string
          - 'null'
          example: 0ejGzqYBSIiMloUrreLXmA
        defaultVoicemailZeroOutDestinationExtensionNumber:
          type:
          - string
          - 'null'
          example: '1032'
      required:
      - name
      - pbxName
      - locale
      - timezone
      - address
    SitesResponsePage:
      type: object
      title: Sites Response Page
      properties:
        _embedded:
          type: object
          properties:
            siteList:
              type: array
              items:
                $ref: '#/components/schemas/Site_2'
        _links:
          $ref: '#/components/schemas/Links'
        page:
          $ref: '#/components/schemas/PageMetadata'
    EmergencyNotification:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          enum:
          - EMAIL
          example: EMAIL
        values:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - john.doe@corp.com
          - jane.doe@corp.com
    ErrorResponse_2:
      type: object
      description: Error response
      properties:
        timestamp:
          type: string
          description: Timestamp of the error
          format: date-time
          example: 2023-01-05T12:04:59.100+0000
        status:
          type: integer
          description: HTTP status of the response
          format: int32
        messages:
          type: array
          description: List of business service error messages
          items:
            type: string
        path:
          type: string
          description: Request path
          example: /analytics/work/v2/pbxes
    PaginationLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/Link'
        next:
          $ref: '#/components/schemas/Link'
    OperationLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/Link'
        resource:
          $ref: '#/components/schemas/Link'
    ErrorResponse:
      type: object
      properties:
        status:
          type:
          - integer
          - 'null'
          description: HTTP status code
          example: 404
        instance:
          type:
          - string
          - 'null'
          description: URI reference that identifies the specific occurrence of the problem
        time:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the error occurred
          example: '2025-01-01T01:02:03Z'
        title:
          type:
          - string
          - 'null'
          description: Short, human-readable summary of the problem
          example: Site not found
        detail:
          type:
          - string
          - 'null'
          description: Human-readable explanation specific to this occurrence
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Error'
    Operation:
      type: object
      properties:
        operationId:
          type:
          - string
          - 'null'
          description: Unique identifier for the operation
          example: op_123456789
        status:
          type:
          - string
          - 'null'
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - UNKNOWN
          description: Current status of the operation
          example: PENDING
        customerId:
          type:
          - string
          - 'null'
          description: Customer ID associated with the operation
          example: 0012J00042NkZQIQA3
        resourceType:
          type:
          - string
          - 'null'
          enum:
          - USER
          - RING_GROUP
          - SITE
          description: Type of resource being operated on
          example: SITE
        resourceId:
          type:
          - string
          - 'null'
          description: ID of the resource being operated on
          example: 0023OEZiR7qQ_EGb6xYjgg
        operationType:
          type:
          - string
          - 'null'
          enum:
          - CREATE
          - UPDATE
          - DELETE
          description: Type of operation being performed
          example: DELETE
        createdTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the operation was created
          example: '2025-01-01T01:02:03Z'
        completedTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the operation completed
          example: '2025-01-01T01:05:03Z'
        error:
          $ref: '#/components/schemas/ErrorResponse'
        _links:
          $ref: '#/components/schemas/OperationLinks'
    PageMetadata:
      type: object
      properties:
        size:
          type: integer
          format: int64
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
    Links:
      type: object
      properties:
        first:
          $ref: '#/components/schemas/Link_2'
        prev:
          $ref: '#/components/schemas/Link_2'
        self:
          $ref: '#/components/schemas/Link_2'
        next:
          $ref: '#/components/schemas/Link_2'
        last:
          $ref: '#/components/schemas/Link_2'
    CallerIdSettings:
      type: object
      properties:
        mainNumber:
          type:
          - string
          - 'null'
          example: '+12266280120'
        setMainNumberAsCallerId:
          type:
          - boolean
          - 'null'
          example: true
        shareMainNumberAsCallerId:
          type:
          - boolean
          - 'null'
          example: false
        displayName:
          type:
          - string
          - 'null'
          example: John Doe
    Site_2:
      type: object
      description: Site
      properties:
        id:
          type: string
          example: 2Tq0TrnqQ3azJ5W959A2Ww
        pbxId:
          type: string
          example: 1UQHOVgWTYCCY6OOk48QAW
        name:
          type: string
          example: Site 26
        deleted:
          type: boolean
  parameters:
    size:
      name: size
      in: query
      description: This parameter indicates the page size to begin your query with.  A value between 1 and 100 is supported.
      schema:
        minimum: 1
        type: integer
        format: int32
        example: 10
    page:
      name: page
      in: query
      description: This parameter indicates the page number to begin your query.
      schema:
        minimum: 0
        type: integer
        format: int32
        example: 1
    sort:
      name: sort
      in: query
      description: Sorting strategy. <br> Sorting can be done for each entity by the name field. Queues can be sorted also by extension.
      schema:
        type: string
        example: name,ASC
  responses:
    methodNotAllowed:
      description: This method is not allowed or a validation exception has occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    unauthorized:
      description: 'Unauthorized: Invalid or no authentication details were provided.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    notFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    forbidden:
      description: Authentication succeeded, but the authenticated user does not have access to the resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    internalServerError:
      description: An internal server error has occurred. Please contact your 8x8 support resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication
    8x8-apikey:
      type: apiKey
      in: header
      name: 8x8-apikey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- 8x8-administration-site-api-v1.yaml
- 8x8-analytics-work-analytics-customer-data.json
x-readme:
  explorer-enabled: true
  proxy-enabled: false
  samples-enabled: true
