openapi: 3.2.0
info:
  title: 8x8 Jwk Keys API
  version: '1.0'
  description: 'Operations tagged JwkKeys across 3 of this provider''s published API definitions: 8x8-actions-events-8x8-contact-center-chat-api-v2.json, 8x8-actions-events-contact-center-chat-gateway-v1.yml, 8x8-contactcenter-8x8-contact-center-chat-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.8x8.com
tags:
- name: JwkKeys
  description: An API that offers JWK public key access to customers.
paths:
  /vcc/{region}/chat/v2/jwk/{jwk-id}/public:
    servers:
    - url: https://api.8x8.com
    get:
      tags:
      - JwkKeys
      summary: Returns the public JWK.
      description: Returns the public JWK that can be used to validate the message signature.
      operationId: getjwkpublickey
      parameters:
      - $ref: '#/components/parameters/RegionParam'
      - name: jwk-id
        in: path
        description: JWK UUID
        required: true
        schema:
          type: string
          format: string
        example: EXaiWfZe20eSjklZ70074w
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                example:
                  kty: RSA
                  e: AQAB
                  kid: EXaiWfZe20eSjklZ70074w
                  n: obq8u-Yq9VgIqsfOFftSr-TINYrL8xNWhYhJjYtPp5DTQK3g1_ylCl6HMmRnEgb9wlkNfk9iazvkOU_XvyZSdfHNm173FlX3YgAPj_snUnCDO1Y0b0M4trK-iGUJP4A_tT4XauI1YJ96rEQAHzfOvsnnniFVqlK5pAMKWnVD4LhRbaEFLOnvMuNCiB13CPF7ZY4j7Aahf8KKdSiBJDw9um1lw5gfKe2j2DN7UOPm5Msz_is-C343xVaJ81d8W9ihDCX9JgaZEYciol-224n6F_gmUMWIfTTCRK3GC2_fnEXXWQbQvACA28Zf40h9iXiWiVdIXFGQgz2lQ7dg4ksUvw
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenRequestResponse'
        '404':
          description: Contains a descriptive information.
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    format: string
                    description: A string that identifies the Error code class.
                    example: ClientError
                  title:
                    type: string
                    description: "A short, summary of the problem type. Written in english and readable\nfor engineers (usually not suited for non technical stakeholders and\nnot localized); \n"
                    example: Resource not found.
                  status:
                    type: integer
                    format: int32
                    description: 'The HTTP status code generated by the origin server for this problem occurrence.

                      '
                    minimum: 100
                    example: 404
                    exclusiveMaximum: 600
                  detail:
                    type: string
                    description: 'Could not locate the resource. The resource may not exist or is not accessible.

                      '
                    example: Resource may not exist or is not accessible.
                  resourceType:
                    type: string
                    format: string
                    example: JWKPublic
                  resourceId:
                    type: string
                    format: string
                    example: EXaiWfZe20eSjklZ70074w
                  instance:
                    type: string
                    format: string
                    description: 'The specific error code that points to the problem. It is a subclass of the Type error code class.

                      '
                    example: ResourceNotFound
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/InternalServerErrorResponse'
  /chat-gateway/v1/jwk/{jwkId}/public:
    servers:
    - url: https://api.8x8.com
    get:
      tags:
      - JwkKeys
      summary: Returns the public JWK.
      description: Returns the public JWK that can be used to validate the message signature.
      operationId: getjwkpublickey-1
      parameters:
      - name: jwkId
        in: path
        description: JWK UUID
        required: true
        schema:
          type: string
          format: string
        example: EXaiWfZe20eSjklZ70074w
      - $ref: '#/components/parameters/TenantIdFilterOptional'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                example:
                  kty: RSA
                  e: AQAB
                  kid: EXaiWfZe20eSjklZ70074w
                  n: obq8u-Yq9VgIqsfOFftSr-TINYrL8xNWhYhJjYtPp5DTQK3g1_ylCl6HMmRnEgb9wlkNfk9iazvkOU_XvyZSdfHNm173FlX3YgAPj_snUnCDO1Y0b0M4trK-iGUJP4A_tT4XauI1YJ96rEQAHzfOvsnnniFVqlK5pAMKWnVD4LhRbaEFLOnvMuNCiB13CPF7ZY4j7Aahf8KKdSiBJDw9um1lw5gfKe2j2DN7UOPm5Msz_is-C343xVaJ81d8W9ihDCX9JgaZEYciol-224n6F_gmUMWIfTTCRK3GC2_fnEXXWQbQvACA28Zf40h9iXiWiVdIXFGQgz2lQ7dg4ksUvw
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '500':
          $ref: '#/components/responses/GeneralErrorResponse'
        default:
          $ref: '#/components/responses/GeneralErrorResponse'
components:
  responses:
    GeneralErrorResponse:
      description: Contains a description of the error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/GenericExceptionPayload'
    ForbiddenRequestResponse:
      description: Contains a descriptive response.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenViolationProblem'
    UnauthorizedResponse:
      description: Contains a description of the error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedProblem'
    ResourceNotFoundResponse:
      description: Contains a descriptive information.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ResourceNotFoundProblem'
    InternalServerErrorResponse:
      description: Contains a description of the error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/InternalServerProblem'
  schemas:
    GenericExceptionPayload:
      type: object
      properties:
        message:
          type: string
          description: Error message.
          example: Internal error.
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Unique error code.
                example: invalid_queue
              message:
                type: string
                description: Free text error description.
                example: Queue ID 112 is invalid.
    UnauthorizedProblem:
      type: object
      properties:
        fault:
          type: object
          description: Error message.
          properties:
            faultstring:
              type: string
              example: Invalid Access Token
            detail:
              type: object
              properties:
                errorcode:
                  type: string
                  example: keymanagement.service.invalid_access_token
    ForbiddenViolationProblem:
      type: object
      properties:
        message:
          type: string
          description: Error message.
          example: The tenant does not belong to customer.
        errors:
          type: array
          items:
            type: string
            example: Tenant <<tenantId>> does not belong to customer <<customerId>>.
    InternalServerProblem:
      type: object
      properties:
        message:
          type: string
          description: 'Error message.

            '
          example: Could not process this request due to ...
        errors:
          type: array
          description: List of errors that caused the request to fail.
          items:
            type: string
        referenceId:
          type: string
          description: A referenceId that can be used by 8x8 engineers to track a failed request.
    ResourceNotFoundProblem:
      type: object
      properties:
        message:
          type: string
          description: Error message.
          example: Resource of type <<resourceType>> with id <<resourceId>> was not found.
        errors:
          type: array
          items:
            type: string
            example: Tenant <<tenantId>> does not belong to customer <<customerId>>.
  parameters:
    RegionParam:
      name: region
      in: path
      description: Business region to use [e.g., us, eu, ca, ap]
      required: true
      schema:
        type: string
        enum:
        - us
        - eu
        - ca
        - ap
        example: us
        default: us
    TenantIdFilterOptional:
      name: X-8x8-Tenant
      in: header
      required: false
      description: Tenant ID, it is going to be mandatory if customer has more than one CC tenant in his organisation.
      schema:
        type: string
        format: string
      example: TheTenant
  securitySchemes:
    8x8APIBearerToken:
      type: http
      scheme: bearer
      description: Bearer Token obtained from https://api.8x8.com
    8x8APIBasic:
      type: http
      scheme: basic
      description: Bearer Token obtained from https://api.8x8.com
    8x8ApiKey:
      type: apiKey
      name: x-api-key
      in: header
x-refined-from:
- 8x8-actions-events-8x8-contact-center-chat-api-v2.json
- 8x8-actions-events-contact-center-chat-gateway-v1.yml
- 8x8-contactcenter-8x8-contact-center-chat-api.json
x-readme:
  explorer-enabled: true
  proxy-enabled: false
  samples-enabled: true
