openapi: 3.2.0
info:
  version: 4.1.0
  title: 8x8 Analytics for Contact Center Historical Metrics Report…
  contact:
    name: Analytics Team
    url: https://www.8x8.com/
    email: vcc-analytics@8x8.com
  termsOfService: https://www.8x8.com/terms-and-conditions
  x-logo:
    url: https://www.8x8.com/wp-content/uploads/2016/06/8x8-Logo-Tagline-bottom.png
  description: As a contact center supervisor, you may need to assess the performance of your agents.
servers:
- description: Europe Historical Metrics API Production
  url: https://api.8x8.com/eu/analytics/cc/v8/historical-metrics
- description: APAC Historical Metrics API Production
  url: https://api.8x8.com/au/analytics/cc/v8/historical-metrics
- description: Canada Historical Metrics API Production
  url: https://api.8x8.com/ca/analytics/cc/v8/historical-metrics
- description: USA Historical Metrics API Production
  url: https://api.8x8.com/analytics/cc/v8/historical-metrics
tags:
- name: Report Defintions
paths:
  /report-types:
    get:
      security:
      - bearerAuth: []
      tags:
      - Report Defintions
      summary: List Report Types
      description: 'This method obtains the list of valid report-types, along with the options for grouping, filtering, or applying metrics that are specific for each report type.


        The list includes `script-paths` from v8 onward.'
      operationId: cc-historical-analytics-report-types
      responses:
        '200':
          description: Success/OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiReportTypeListResponse'
            application/xml;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiReportTypeListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
      deprecated: false
  /report-types/{type}:
    get:
      security:
      - bearerAuth: []
      tags:
      - Report Defintions
      summary: Report Format Details
      description: This method obtains grouping, filtering, and metrics information about a specific report type.
      operationId: cc-historical-analytics-report-type-by-type
      parameters:
      - name: type
        in: path
        description: The report type
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success/OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiReportTypeResponse'
            application/xml;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiReportTypeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
      deprecated: false
components:
  schemas:
    ApiReportTypeResponse:
      type: object
      properties:
        groupBy:
          type: array
          items:
            $ref: '#/components/schemas/FilterResponse'
        metrics:
          type: array
          items:
            type: string
          example:
          - avgDirectInboundTime
          - avgDirectOutboundTime
          - blindTransferToAgent
          - blindTransferToQueue
          - blindTransfersInitiated
          - blindTransfersReceived
          - conferenceTime
          - conferences
          - conferencesEstablished
        type:
          type: string
          example: agent-interactions-call-summary
      title: ApiReportTypeResponse
      xml:
        name: ApiReportTypeResponse
    ApiReportTypeListResponse:
      type: array
      items:
        $ref: '#/components/schemas/ApiReportTypeResponse'
      title: ApiReportTypeListResponse
      xml:
        name: List
        wrapped: true
    FilterResponse:
      type: object
      properties:
        filters:
          type: array
          items:
            type: string
            example: agent
        name:
          type: string
          example: agent
      title: FilterResponse
  securitySchemes:
    ApiKeyAuth:
      type: oauth2
      description: This API uses OAuth 2 with the client credentials grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.8x8.com/oauth/v2/token
          scopes:
            read: Grants read access
            write: Grants write access
            admin: Grants access to admin operations
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
x-readme:
  explorer-enabled: true
  proxy-enabled: true
